*{
    margin: 0;
    padding: 0;
}
.main_screen {
    background-color: #e9e9e9;
    height: 100vh;
    padding-top: 250px;
}
header {
    padding-top: 38px;
    padding-bottom: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #e9e9e9;
    z-index: 1;

}
.container {
    max-width: 1170px;
    margin: auto;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin-right: 30px;
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
header nav ul li a{
    font-size: 12px;
    color: #191919;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: normal;
    line-height: 8px;
    text-transform: uppercase;
}

header nav ul li:hover a, header nav ul li.activate a {
    color: #58d4d0;
}
.we_design_container{
    max-width: 515px;
    padding: 0 15px;
    margin-bottom: 200px;
}
h1{
    font-size: 38px;
    margin-bottom: 40px;
    color: black;
}
.we_design_block {
    max-width: 1140px;
    margin: auto;
}
.we_design_container p{
    line-height: 28px;
    font-size: 18px;
    color: #787878;
    margin-bottom: 40px;
}
.we_design_container .button{
    background-color: #10c9c3;
    padding: 23px 0;
    max-width: 180px;
    text-align: center;
    border: #10c9c3 1px solid;
}
.we_design_container a span {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    display: block;
    text-decoration: none;
}
.we_design_container a{
    text-decoration: none;
}
.we_design_container .button:hover {
    background-color: #787878;
    border: #787878 1px solid;
}
.we_design .d-flex{
    display: flex;
    justify-content: flex-end;
}
.about_us_block{
    padding: 64px 0 0;
    background-color: white;
}
.about_us_container {
    max-width: 620px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
}
.about_us_block h2{
    color: #191919;
    font-size: 30px;
    margin-bottom: 40px;
}
.about_us_block p {
    color: #787878;
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 25px;
}
.about_us_block img{
    margin-bottom: 100px;
}
.professional_skills{
    background-color: #e9e9e9;
    width: 100%;
}
.professional_skills .block{
    background-color: #f8f9f9;
    max-width: 685px;
    padding: 165px 80px 125px;
}
.professional_skills h3{
    font-size: 30px;
    color: black;
    margin-bottom: 40px;
}
.progress_bar_b{
    width: 100%;
}
.professional_skills h4{
    font-size: 12px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.progress {
    background-color: #d8d8d8;
    width: 100%;
    height: 3px;
    margin-bottom: 40px;
}
.UI_UX_Design_PB .progress:after {
    content: "";
    background-color: #10c9c3;
    display: block;
    width: 75%;
    height: 3px;
}
.web_development_PB .progress:after {
    content: "";
    background-color: #10c9c3;
    display: block;
    width: 90%;
    height: 3px;
}
.marketing_PB .progress:after {
    content: "";
    background-color: #10c9c3;
    display: block;
    width: 65%;
    height: 3px;
}
.our_benefits {
    padding: 100px 0;
    width: 100%;
    background-color: #10c9c3;
}
.our_benefits .container{
    max-width: 1200px;
    margin: auto;
}
.our_benefits .container i{
    font-size: 36px;
    color: white;
    display: inline-block;
    margin-right: 29px;
    vertical-align: center;
}
.benefits{
    width: 230px;
    margin: 0 33px;
    display: inline-block;
}
.benefits span{
    display: inline-block;
    font-size: 18px;
    color: white;
}
.benefits p{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    line-height: 25px;
}
.benefits div{
    display: inline-block;
}
.our_capabilities{
    background-color: #f5f5f5;
    padding: 100px 0 40px;
}
.our_capabilities .container{
    max-width: 1200px;
    margin: auto;
}
.capabilities{
    text-align: center;
    display: inline-block;
    width: 220px;
    margin: 0 38px 60px;
}
.capabilities a{
    text-decoration: none;
}
.capabilities h5{
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.capabilities p{
    font-size: 16px;
    color: #787878;
    line-height: 25px;
}
.capabilities i{
    color: #656565;
    font-size: 40px;
    margin-bottom: 30px;
}
.player{
    height: 560px;
    background-color: #e9e9e9;
    position: relative;
    z-index: 0;
}
.player span{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    background-color: #10c9c3;
    text-align: center;
    line-height: 85px;
    color: white;
    cursor: pointer;
    left: 50%;
    top: 241px;
    margin-left: -43px;
}


.block{
    background-color: yellow;
    height: 200px;
}
.rew{
    background-color: #10c9c3;
    padding: 170px 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.rew p{
    color: white;
    font-size: 16px;
    text-align: center;
}
.owl-dots .owl-dot span{
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
}
.owl-dots{
    text-align: center;
}
.owl-dots .owl-dot.active span{
    width: 15px;
    height: 15px;
    position: relative;
    bottom: -3px;
}
.ui-accordion-header {
    outline: none;
    background-color: #fce7f2;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #860da6;
    font-size: 28px;
}
.ui-accordion-content{
    padding: 50px 30px;
    background-color: #fef5fa;
}
.ui-accordion-header.ui-accordion-header-active {
    background-color: #fef5fa;
    border: none;
}
.ui-accordion-header:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: #860da6;
    position: relative;
    right: 5px;
    bottom: 2px;
}
.ui-accordion-header-icon {
    position: absolute;
    right: 10px;
}
.ui-icon {
    width: 20px;
    height: 30px;
    background-image: none;
    background-position: inherit;
    text-indent: 0;
}
.ui-icon:before {
    content: "\f054";
    display: block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.ui-accordion-header.ui-accordion-header-active .ui-icon:before{
    transform: rotate(90deg);
    position: relative;
    right: 4px;
}
.ui-accordion-header.ui-state-hover .ui-icon{
    background: none;
}